body{
    background-color:#D3D3D3;
    border-radius:0.5%;
}

#mainT{
   display:flex;
   flex-direction: row;
   justify-content: center;
   width:100%;
}
#secondT{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}
#maintitle{
    font-size: 45px;
    height:0px;
   
}
#secondarytitle{
    font-size:15px;
    height:10px;
}
#img-div{
    background-color:white;
    width:99.9%;
    background-position: center;
    
}
#imgdiv1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}
#img{
    width:100%;
    height:auto;
   
}
#para{
    display: flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
}

#header{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#ullist{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap:wrap;  
}
#list{
    width:500px;
}

.quote1{
    font-style:italic;}

#quote2{
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
}

#person{
    display: flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
}
#quote3{
    width:40%;
}
#tribute-link{
    display: flex;
    flex-direction:row;
    justify-content:center;

}
#para2{
    font-size:larger;
    font-weight:bold;
}