/* general background styling */
body{
    background-color: rgba(168, 95, 241, 0.5);
    
}
#form{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-color:rgba(39,39,149, 0.5);
    height:1000px;
    width:50%;
    margin: auto;
    border-radius: 5px;
}

/*layout*/
#title{
    display: flex;
    justify-content: center;
}
#description{
    display: flex;
    justify-content:center;
    font-style: italic;
}
.Titles{
    font-family: sans-serif;

}

/*styling */
#name,#email,#number,#dropdown{
    width: 90%;
    height: 4%;
    border-radius: 5px;

}
#area{
    width:90%;
    height:10%;
    border-radius: 5px;
}

#submit{
    border-radius: 5px;
}